.editMain{
    width:25%;
    height:55%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    background-color: white;
    transform: translatex(50vw);
}
.editform{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background-color:#999999;
    padding: 1rem;
}
.editform input textarea{
    width: 70%;
    height: 10%;
}
.editform button{
    background-color:green;
}

@media only screen and (max-width:400px){


    .editMain{
        width: 80%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: -40%;
        background-color: white;
        transform: translatex(50vw);
    }


   /* .editform{



   } */
  
        
     
     }
