nav{
    width: 100%;
    height: 7vh;
    background-color: #a6a6a6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}


*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
.nav_logo {
    width: auto;
    height: 100%;
    margin-left:0.5rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.nav_logo img{
   height: 100%;
}
.nav_side{
    width:auto;
    height: 100%;
    display: flex;
    margin-right:1rem;
    flex-direction: row;
   justify-content:flex-end;
   align-items: center;
   justify-content:space-evenly;
   box-sizing: border-box;
   /* background-color: red; */
  
   
    
}

.navMain{
    background-color: orange;
    width: 100%;
    height:95vh;
    display: flex;
}
.Nav_cart{
    height: 100%;
    /* background-color: white; */
    border-radius: 50%;
    padding:10px;
    display: flex;
    align-items: center;
    position:relative;
    
}
.cart_number{
    position:absolute;
    top:-2%;
    right:0%;
    padding-left: 1px;
    padding-right: 1px;
    background-color: yellow;
    border-radius: 50%;
    font-size: 15px;
    z-index: 5;

}


/* working on controller */
 .controller_div{
    display: flex;
    position:relative;
    display: inline-block;
   
}
.User{
    /* display: flex;
    flex-direction: column;
    font-size: 15px; */
    display: flex;
    gap: 5px;

}
.controller_div{
    display: flex;
    position:relative;
  
}
.controller_div i{
    position: absolute;
}

 .controllers{
    width: 15vw;
    height: 93vh;
    background-color: red;
 }


/* working on mobile veiw */
Link{
    width:100%;
    height: 100%;
    background-color: transparent;
    
}
.page{
    width: 100vw;
    height: 93vh;
    background-color: green;
    display: flex;
}


@media only screen and (max-width:700px){

nav{
    background-color: orange;
    height:7vh;
    font-size: 18px;
}
.controller_div i{
   
}
.controller_div{
    display: flex;
    position: absolute;
    top:7vh;
}
.controller_div i{
    position: absolute;
    z-index: 5;
    font-size: 25px;
}
.controllers{
    width: 15vw;
    height: 95vh;
    /* background-color: red; */
    transform: translateX(-100%);
    transition: all 1s ease;
}
 .active .controllers{
    width: 50vw;
    height: 93vh;
    background-color: red;
    transform: translateX(0);
    transition: all 1s ease;
    
    
}

.page{
    width: 100%;
    height: 93vh;
    background-color: green;
    display: inline-block;
}
   

}
/* working on the rendering or links part which to show */

